.DS_Store
openframeworks/libs/openFrameworksCompiled/lib/osx/openFrameworksDebug.a
**/bin/
[Oo]bj/
*.o
**/*.app
[Dd]ebug*/
[Rr]elease*/
.vs
*.sln
venv*
openframeworks/libs/openFrameworksCompiled/project/osx/openFrameworksLib.xcodeproj/xcuserdata/luizerieksta.xcuserdatad/xcschemes/xcschememanagement.plist
openframeworks/apps/myApps/05_navigating/05_navigating.xcodeproj/xcuserdata/luizerieksta.xcuserdatad/xcschemes/xcschememanagement.plist
openframeworks/apps/myApps/05_navigating/05_navigating.xcodeproj/project.xcworkspace/xcuserdata/luizerieksta.xcuserdatad/UserInterfaceState.xcuserstate
openframeworks/libs/openFrameworksCompiled/project/osx/openFrameworksLib.xcodeproj/xcuserdata/luizerieksta.xcuserdatad/xcschemes/openFrameworks.xcscheme
